= render :partial => 'header'

.container
  .row
    .col-lg-3
    .col-lg-6
      .panel.panel-primary
        .panel-heading
          .panel-title
            - if @current_person.id == @person.id
              = I18n.t('person.views.change_password')
            - else
              != I18n.t('person.views.change_password_for', :person => @person.name)

        .panel-body
          = form_for @person, :url => update_password_person_path(@person), :method => 'post' do |p|
            .row
              .col-lg-12
                .validation_errors_placeholder
                  - error_messages_for(@person)

            .row
              .col-lg-2
              .col-lg-8
                - if @person == current_person
                  .form-group
                    = p.label I18n.t('person.views.current_password'), :for => 'person_current_password'
                    = p.password_field :current_password, :class => 'form-control'

                .form-group
                  = p.label I18n.t('person.views.new_password'), :for => 'person_password'
                  .pull-right
                    #password_strength.label
                  = p.password_field :password, :value => @person.password, :class => "strong_password form-control"

                .form-group
                  = p.label I18n.t('person.views.new_password_confirmation'), :for => 'person_password_confirmation'
                  = p.password_field :password_confirmation, :value => @person.password_confirmation, :class => 'form-control'

                = p.hidden_field :email
              .col-lg-2

            .row
              .col-lg-12
                .pull-right
                  = p.submit I18n.t('person.views.update_password'), :class => 'btn btn-primary'

                = link_to I18n.t("common.cancel"), person_path(@person), :class => 'btn btn-default'


    .col-lg-3
