#content_wrapper
  #content
    .widget.centered
      %legend
        = I18n.t('person.views.change_password')

      .content.unfolded.active
        = form_for @person, :url => update_password_person_path(@person), :method => 'post' do |p|

          .validation_errors_placeholder
            - error_messages_for(@person)

          - if @person == current_person
            = p.label I18n.t('person.views.current_password')
            = p.password_field :current_password

          = p.label I18n.t('person.views.new_password')
          = p.password_field :password, :value => @person.password, :class => "strong_password"

          = p.label I18n.t('person.views.new_password_confirmation')
          = p.password_field :password_confirmation, :value => @person.password_confirmation

          .clear
          %br

          = p.hidden_field :email
          .left
            = link_to I18n.t("person.views.cancel"), person_path(@person), :class => 'button'

          .align_right
            = p.submit I18n.t('person.views.update_password')
