
- if params[:action] == 'paginate'
  #pagination.navbar.navbar-intermediate.navbar-default.navbar-static-top{:style => 'margin-bottom: 0;'}
    .container
      .row
        .col-sm-1.col-xs-1.visible-sm.visible-xs
        .col-md-4.col-sm-3.col-xs-3
          - if @before
            .nav.navbar-nav.navbar-text

              = link_to paginate_people_path(:query => @query.to_json, :index => 0) do
                .icon-double-angle-left.icon-3x

              &nbsp;

              = link_to paginate_people_path(:query => @query.to_json, :index => @index - 1) do
                .icon-angle-left.icon-3x
                -# = @before.try(:name)

        .col-md-4.col-sm-4.col-xs-4.text-center
          .hidden-sm.hidden-xs
            %h2{:style => 'margin: 8px 0 0 0;'}= @person.name
          .visible-sm.visible-xs
            %div{:style => 'height: 27px;'} &nbsp;

          %h4{:style => 'margin: 0 0 8px 0;'}= "#{@index + 1} / #{@total_entries}"

        .col-md-4.col-sm-3.col-xs-3
          - if @after
            .pull-right.nav.navbar-nav.navbar-text
              = link_to paginate_people_path(:query => @query.to_json, :index => @index + 1) do
                -#= @after.try(:name)
                .icon-angle-right.icon-3x

              &nbsp;

              = link_to paginate_people_path(:query => @query.to_json, :index => @total_entries - 1) do
                .icon-double-angle-right.icon-3x

        .col-sm-1.col-xs-1.visible-sm.visible-xs

= render :partial => 'header'

.container
  .row
    .col-lg-3
    .col-md-6
      - if flash[:error] or flash[:alert] or flash[:notice]
        - flash_messages
      - error_messages_for(@person)

      = hidden_field :person, :id

    .col-lg-3

  .tab-content
    #info_tab.tab-pane
      .row
        .col-md-12
          - if can? :read, @person
            #person{:class => 'panel panel-primary', 'data-primary_panel' => "true"}
              .panel-heading
                .panel-title
                  = I18n.t('person.views.personal_information')

      .row
        .col-md-4
          - if can? :read, @person => PeopleCommunicationLanguage
            #person_communication_languages.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('person.views.communication_languages')
                  .pull-right.badge= @person.communication_languages.empty? ? nil : @person.communication_languages.count

        .col-md-4
          - if can? :read, @person => PeoplePrivateTag
            - if PrivateTag.count > 0
              #person_private_tags.panel.panel-default
                .panel-heading
                  .panel-title
                    = I18n.t('person.views.private_tags')
                    .pull-right.badge= @person.private_tags.empty? ? nil : @person.private_tags.count

        .col-md-4
          - if can? :read, @person => PeoplePublicTag
            - if PublicTag.count > 0
              #person_public_tags.panel.panel-default
                .panel-heading
                  .panel-title
                    = I18n.t('person.views.public_tags')
                    .pull-right.badge= @person.public_tags.empty? ? nil : @person.public_tags.count

          //- if can? :read, @person => TranslationAptitude
          //  #person_translation_aptitudes.widget
          //    %legend= I18n.t('person.views.translation_aptitudes')
          //    .content


    #affairs_tab.tab-pane
      .row
        .col-md-6
          - # TODO Adjust access to every panel
          - if can? :read, @person => Affair
            #person_affairs{:class => 'panel panel-primary', 'data-primary_panel' => "true"}
              .panel-heading
                .panel-title
                  = I18n.t('person.views.affairs')

          - if can? :read, @person => Affair
            #person_affair_subscriptions.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('affair.views.subscriptions')

          - if can? :read, @person => TaskRate
            #person_affair_task_rates.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('task_rate.views.rates')

        .col-md-6
          - if can? :read, @person => Affair
            #person_affair_tasks.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('affair.views.tasks')

          - if can? :read, @person => Affair
            #person_affair_products.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('affair.views.products')

          - if can? :read, @person => Affair
            #person_affair_extras.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('affair.views.extras')

      .well
        #balance

      .row
        .col-md-6
          - if can? :read, @person => Invoice
            #person_affair_invoices.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('affair.views.invoices')

        .col-md-6
          - if can? :read, @person => Affair
            #person_affair_receipts.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('affair.views.receipts')

    #salaries_tab.tab-pane
      .row
        .col-md-6
          - if can? :read, @person => Salaries::Salary
            #person_salaries.panel.panel-primary
              .panel-heading
                .panel-title
                  = I18n.t('person.views.salaries')

        .col-md-6
          - if can? :read, @person => EmploymentContract
            #person_employment_contracts.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('person.views.employment_contracts')
      .row
        .col-lg-12
          - if can? :read, @person => Salaries::Salary
            .panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('person.views.salary_items')
              #person_salary_items

      .row
        .col-lg-12
          - if can? :read, @person => Salaries::Salary
            .panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('person.views.salary_taxes')
              #person_salary_tax_datas

    #permissions_tab.tab-pane
      .row
        .col-md-6
          - if can? :read, @person => PeopleRole
            #person_roles.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('person.views.roles')
        .col-md-6

    #activities_tab.tab-pane
      .row
        .col-md-6
          - if can? :read, @person => Comment
            #person_comments.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('person.views.comments')

        .col-md-6
          - if can? :read, @person => Activity
            #person_activities.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('person.views.activities')

