%h1
  = I18n.t("person.mail.members_were_added_to_subscription",
    title: @subscription.title,
    id: @subscription.id)

%p
  = I18n.t("subscription.mail.the_following_members_were_added_to_the_subscription")
  = "(#{@new_people.size}):"

  %table
    %thead
      %tr
        %th= I18n.t("subscription.mail.person_id")
        %th= I18n.t("subscription.mail.first_name")
        %th= I18n.t("subscription.mail.last_name")
        %th= I18n.t("subscription.mail.is_an_organization")
        %th= I18n.t("subscription.mail.organization_name")
        %th= I18n.t("subscription.mail.email")
    %tbody
      - @new_people.each do |person|
        %tr
          %td= person.id
          %th= person.first_name
          %th= person.last_name
          %th= person.is_an_organization
          %th= person.organization_name
          %th= person.email

%p
  = I18n.t("subscription.mail.the_following_members_were_already_in_the_subscription")
  = "(#{@existing_people.size}):"

  %table
    %thead
      %tr
        %th= I18n.t("subscription.mail.person_id")
        %th= I18n.t("subscription.mail.first_name")
        %th= I18n.t("subscription.mail.last_name")
        %th= I18n.t("subscription.mail.is_an_organization")
        %th= I18n.t("subscription.mail.organization_name")
        %th= I18n.t("subscription.mail.email")
    %tbody
      - @existing_people.each do |person|
        %tr
          %td= person.id
          %th= person.first_name
          %th= person.last_name
          %th= person.is_an_organization
          %th= person.organization_name
          %th= person.email
