%h1
  = I18n.t("mailchimp.mail.sync_report_title")
%p
  - if @errors.size == 0
    %h2
      = I18n.t("mailchimp.mail.synchronization_succeed")

  - else
    %h2
      = I18n.t("mailchimp.mail.failed_to_synchronize")
    %p
      = I18n.t("mailchimp.mail.failure_report")+ ":"
      %br
      %table
        %thead
          %tr
            %th= I18n.t("mailchimp.mail.code")
            %th= I18n.t("mailchimp.mail.email")
            %th= I18n.t("mailchimp.mail.message")
            %tbody
              - @errors.each do |e|
                %tr
                  %td= e["code"]
                  %td= e["email"]["email"]
                  %td= e["error"]
