%h1
  = I18n.t("person.mail.subscription_were_merged",
    destination_title: @destination_subscription.title,
    destination_id: @destination_subscription.id,
    source_title: @source_subscription_title,
    source_id: @source_subscription_id)

%h2
  = I18n.t("subscription.mail.the_following_members_were_updated") + ":"

  %table
    %thead
      %tr
        %th= I18n.t("subscription.mail.private_tag")
        %th= I18n.t("common.value")
        %th= I18n.t("subscription.mail.invoice_template")
        %th= I18n.t("subscription.mail.members_count")
    %tbody
      - @destination_subscription.values.each do |value|
        %tr
          %td= value.private_tag.try(:name)
          %td= value.value.to_view
          %td= value.invoice_template.try(:title)
          %td= @destination_subscription.people_for(value.private_tag.try(:name)).count
