#secondary_navbar.navbar.navbar-default.navbar-static-top

  .navbar-header
    .visible-xs
      .navbar-brand
        #tab_name

    // extra-small resolutions
    %button{class: 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#secondary_navigation'}
      .icon-bar
      .icon-bar
      .icon-bar

  .container
    #secondary_navigation.collapse.navbar-collapse
      %ul#sub_nav.nav.navbar-nav
        - if can? :update, PrivateTag
          %li
            %a{href: '#tags_tab'}
              = I18n.t('admin.views.tags')

        - if can? :update, Affair
          %li
            %a{href: '#affairs_tab'}
              = I18n.t('admin.views.affairs')

        - if can? :update, Invoice
          %li
            %a{href: '#finances_tab'}
              = I18n.t('admin.views.finances')

        - if can? :update, ProductItem
          %li
            %a{href: '#products_tab'}
              = I18n.t('admin.views.products')

        - if can? :read, Creditor
          %li
            %a{href: '#creditors_tab'}
              = I18n.t('admin.views.creditors')
