= render :partial => 'header'

.container
  .row
    .col-lg-3
    .col-lg-6
      -# TODO put the right object below
      -#- error_messages_for(@admin)
      - flash_messages
    .col-lg-3

  .tab-content
    #tags.tab-pane
      .row
        .col-lg-6
          - if can? :update, PrivateTag
            #admin_private_tags.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.private_tags')

        .col-lg-6
          - if can? :update, PublicTag
            #admin_public_tags.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.public_tags')

    #affairs.tab-pane
      .row
        .col-lg-12
          - if can? :update, Subscription
            #admin_subscriptions.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.subscriptions')

      .row
        .col-lg-12
          - if can? :update, Affair
            #admin_affairs.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.affairs')

    #finances.tab-pane
      .row
        .col-lg-12
          - if can? :update, Receipt
            #admin_receipts.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.receipts')
      .row
        .col-lg-12
          - if can? :update, Invoice
            #admin_invoices.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.invoices')

    #tools.tab-pane
      .row
        .col-lg-6
          - if can? :create, Person
            #admin_import_people.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.import_people')

              = form_tag(admin_confirm_people_path, :multipart => true) do
                .panel-body
                  .row
                    .col-lg-12
                      = link_to I18n.t('admin.views.people_example_file'), asset_path('people_example.csv')
                      = '(' + I18n.t('common.use_right_click_save_as') + ')'
                      %br
                      %br

                  .row
                    .col-lg-6
                      .form-group
                        %label{:for => 'admin_import_people'}
                          = I18n.t('admin.views.select_file')
                        %input{:type => :file, :id => 'admin_import_people', :name => :people_file}

                .panel-footer
                  .row
                    .col-lg-12
                      .pull-right
                        %button{:type => :submit,
                              :class => 'btn btn-primary'}
                          .glyphicon.glyphicon-cloud-upload
                          = I18n.t('admin.views.upload')

        .col-lg-6
