.row
  .col-lg-12
    #secondary_navigation.navbar.navbar-default.navbar-static-top
      .container
        .collapse.navbar-collapse
          %ul#sub_nav.nav.navbar-nav
            - if can? :update, PrivateTag
              %li
                %a{:href => '#tags'}
                  = I18n.t('admin.views.tags')

            - if can? :update, Affair
              %li
                %a{:href => '#affairs'}
                  = I18n.t('admin.views.affairs')

            - if can? :update, Invoice
              %li
                %a{:href => '#finances'}
                  = I18n.t('admin.views.finances')

            - if can? :create, Person
              %li
                %a{:href => '#tools'}
                  = I18n.t('admin.views.tools')

.container
  .row
    .col-lg-3
    .col-lg-6
      -# TODO put the right object below
      -#- error_messages_for(@admin)
    .col-lg-3

  .tab-content
    #tags.tab-pane.fade
      .row
        .col-lg-6
          - if can? :update, PrivateTag
            #admin_private_tags.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.private_tags')

        .col-lg-6
          - if can? :update, PublicTag
            #admin_public_tags.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.public_tags')

    #affairs.tab-pane.fade
      .row
        .col-lg-6
        .col-lg-6

    #finances.tab-pane.fade
      .row
        .col-lg-6
        .col-lg-6
          - if can? :update, Receipt
            #admin_receipts.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.receipts')

    #tools.tab-pane.fade
      .row
        .col-lg-6
          - if can? :create, Person
            #admin_import_people.widget
              .panel-heading
                .panel-title
                  %legend= I18n.t('admin.views.import_people')

        .col-lg-6


-#    #affairs.tab-pane.fade
-#      .row
-#        .col-lg-6
-#          - if can? :update, Affair
-#            #admin_affairs.panel.panel-default
-#              .panel-heading
-#                .panel-title
-#                  = I18n.t('admin.views.affairs')

-#        .col-lg-6
-#          - if can? :update, Subscription
-#            #admin_subscriptions.panel.panel-default
-#              .panel-heading
-#                .panel-title
-#                  = I18n.t('admin.views.subscriptions')

-#    #finances.tab-pane.fade
-#      .row
-#        .col-lg-6
-#          - if can? :update, Invoice
-#            #admin_invoices.panel.panel-default
-#              .panel-heading
-#                .panel-title
-#                  = I18n.t('admin.views.invoices')

-#        .col-lg-6
-#          - if can? :update, Receipt
-#            #admin_receipts.panel.panel-default
-#              .panel-heading
-#                .panel-title
-#                  = I18n.t('admin.views.receipts')

-# #content_wrapper
-#   #content
-#     - flash_messages
-# 
-#     - if can? :update, PrivateTag
-#       #admin_private_tags.widget.pinable
-#         %legend= I18n.t('admin.views.private_tags')
-#         .content
-# 
-#     - if can? :update, PublicTag
-#       #admin_public_tags.widget.pinable
-#         %legend= I18n.t('admin.views.public_tags')
-#         .content
-# 
-#     - if can? :update, Affair
-#       #admin_affairs.widget.pinable
-#         %legend= I18n.t('admin.views.affairs')
-#         .content
-# 
-#     - if can? :update, Subscription
-#       #admin_subscriptions.widget.pinable
-#         %legend= I18n.t('admin.views.subscriptions')
-#         .content
-# 
-#     - if can? :update, Invoice
-#       #admin_invoices.widget.pinable
-#         %legend= I18n.t('admin.views.invoices')
-#         .content
-# 
-#     - if can? :update, Receipt
-#       #admin_receipts.widget.pinable
-#         %legend= I18n.t('admin.views.receipts')
-#         .content
-# 
-#     - if can? :create, Person
-#       #admin_import_people.widget
-#         %legend= I18n.t('admin.views.import_people')
-#         .content
-#           = link_to I18n.t('admin.views.people_example_file'), asset_path('people_example.csv')
-#           = '(' + I18n.t('common.use_right_click_save_as') + ')'
-#           = form_tag(admin_confirm_people_path, :multipart => true) do
-#             %label= I18n.t('admin.views.select_file')
-#             %input{:type => :file, :name => :people_file}
-#             %input{:type => :submit, :value => I18n.t('admin.views.upload')}
