= render partial: 'header'

.container
  .row
    .col-lg-3
    .col-lg-6
      -# TODO put the right object below
      -#- error_messages_for(@admin)
      - flash_messages
    .col-lg-3

.main.container
  .tab-content
    #tags_tab.tab-pane
      .row
        .col-lg-6.col-md-6
          - if can? :update, PrivateTag
            #admin_private_tags.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.private_tags')

        .col-lg-6.col-md-6
          - if can? :update, PublicTag
            #admin_public_tags.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.public_tags')

    #affairs_tab.tab-pane
      .row
      .row
        .col-lg-12
          - if can? :update, Affair
            #admin_affairs.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.affairs')

        .col-lg-12
          - if can? :update, Subscription
            #admin_subscriptions.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.subscriptions')

    #finances_tab.tab-pane
      .row
        .col-lg-12
          - if can? :update, Receipt
            #admin_receipts.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.receipts')
      .row
        .col-lg-12
          - if can? :update, Invoice
            #admin_invoices.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('admin.views.invoices')

#affix.hidden-print
  %ul#tags_affix.nav

  %ul#affairs_affix.nav

  %ul#finances_affix.nav
