%h2= I18n.t("item.views.summary")

%table.summary
  - summary[:taxed_categories].each do |cat, value|
    %tr
      %td= cat
      %td.number= value.to_view

  %tr
    %td= I18n.t("salary.views.taxes")
    %td.number= summary[:tax_data].to_view

  - summary[:untaxed_categories].each do |cat, value|
    %tr
      %td= cat
      %td.number= value.to_view

  %tr
    %td= I18n.t("salary.views.net_salary_total")
    %td.number= summary[:net_salary].to_view
