%h2= I18n.t("salary.views.taxes")

%table.tax_data
  %thead
    %tr
    - options[:fields].each do |field|
      %th= I18n.t("salary.views." + field.to_s)

  %tbody
    // DETAILS
    - salary.selected_tax_data.each do |data|
      // Print taxed_items in line title (mouse over)
      %tr{:title => data.taxed_items.map(&:title).join(", ")}
        - options[:fields].each do |f|
          - field = data.send(f)

          // format cell
          - if field.is_a? Time
            %td= field.to_date
          - elsif field.is_a? Money
            %td.number= field.to_view
          - elsif field.is_a? Fixnum or field.is_a? Float or field.is_a? BigDecimal
            // do not print percentage if value is selected
            - if ! data.employee_use_percent or ! data.employer_use_percent
              %td.number -
            - else
              %td.number= field.to_s
          - else
            %td= field

    // TOTAL
    - employee_value_index = options[:fields].index(:employee_value)
    - employer_value_index = options[:fields].index(:employer_value)

    - if employee_value_index or employer_value_index
      %tr
        - options[:fields].each do |f|
          - if f == :employee_value
            %td.number
              %b= salary.employee_value_total.to_view
          - elsif f == :employer_value
            %td.number
              %b= salary.employer_value_total.to_view
          - else
            %td
