%div{:style => 'width: 525px;', :class => 'centered'}

  .widget
    %legend
      = I18n.t('devise.views.change_your_password')

    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|

      - devise_error_messages!
      = f.hidden_field :reset_password_token

      %div{:class => 'half', :style => 'margin: 10px auto;'}

        = f.label I18n.t('devise.views.new_password')
        = f.password_field :password, :style => 'width: 80%', :class => "strong_password"

        = f.label I18n.t('devise.views.confirm_new_password')
        = f.password_field :password_confirmation, :style => 'width: 80%'

        = f.submit I18n.t('devise.views.change_my_password'), :style => 'width: 80%'

        %br
        %br

        = render :partial => 'devise/shared/links'
