#secondary_navbar.navbar.navbar-default.navbar-static-top
  .container
    #secondary_navigation
      // pull-right = XS
      .pull-right
        .navbar-right.btn-group
          - if can? :create, Person
            %a{ :href => new_person_path,
                :class => 'btn btn-default navbar-btn',
                :id => 'directory-add-person' }
              .icon-user
              .hidden-inline-xs
                = I18n.t('directory.views.add_person')

          - if can? :mailchimp, Directory
            - # 00000000000000000000000000000000-us0 is the default value, not valid in real world
            - if ApplicationSetting.value(:mailchimp_api_key) != "00000000000000000000000000000000-us0"
              = link_to(directory_mailchimp_path,
                :method => :post,
                :class => 'btn btn-danger navbar-btn',
                :confirm => I18n.t("common.are_you_sure")) do
                .icon-refresh
                .hidden-inline-xs
                  = I18n.t('directory.views.sync_mailchimp')
            - else
              - # Disable mailchimp sync button
              - # TODO print a nice modal window and link to config + doc to setup mailchimp
              = link_to("#",
                :class => 'btn btn-default navbar-btn',
                :disabled => true ) do
                .icon-refresh
                .hidden-inline-xs
                  = I18n.t('directory.views.sync_mailchimp')

.container

  .row
    .col-lg-3
    .col-lg-6
      - if flash[:error] or flash[:alert] or flash[:notice]
        - flash_messages

      %input{ :id => "directory_json_query",
        :name => "directory_json_query",
        :type => "hidden",
        :value => @query.to_json.html_safe }

      %input{ :id => "directory_results_count",
        :type => "hidden",
        :value => @results_count }

      - # custom action (see index.js)
      - if @custom_action
        %input{ :id => "directory_custom_action_url",
          :type => "hidden",
          :value => @custom_action[:url].html_safe }
        %input{ :id => "directory_custom_action_title",
          :type => "hidden",
          :value => @custom_action[:title].html_safe }
        %input{ :id => "directory_custom_action_message",
          :type => "hidden",
          :value => @custom_action[:message].html_safe }
        %input{ :id => "directory_custom_action_disabled",
          :type => "hidden",
          :value => @custom_action[:disabled].html_safe }

    .col-lg-3

  .panel.panel-default
    #directory_search_engine

