#secondary_navbar.navbar.navbar-default.navbar-static-top

  .navbar-header
    .visible-xs
      .navbar-brand
        #tab_name

    // extra-small resolutions
    %button{:class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#secondary_navigation'}
      .icon-bar
      .icon-bar
      .icon-bar

  .container
    #secondary_navigation.collapse.navbar-collapse
      %ul#sub_nav.nav.navbar-nav
        - if can? :index, Directory
          %li
            %a{href: '#searchengine_tab'}
              = I18n.t('common.directory')

      // pull-right = XS
      .pull-right
        .navbar-right.btn-group
          - if can? :create, Person
            %a{ href: new_person_path,
                class: 'btn btn-default navbar-btn',
                id: 'directory-add-person' }
              .icon-user
              .hidden-inline-xs
                = I18n.t('directory.views.add_person')

.main.container

  .tab-content
    #searchengine_tab.tab-pane
      .row
        .col-lg-3
        .col-lg-6
          - if flash[:error] or flash[:alert] or flash[:notice]
            - flash_messages

          %input{ id: "directory_json_query",
            name: "directory_json_query",
            type: "hidden",
            value: @query.to_json.html_safe }

          %input{ id: "directory_results_count",
            type: "hidden",
            value: @results_count }

          - # custom action (see index.js)
          - if @custom_action
            %input{ id: "directory_custom_action_url",
              type: "hidden",
              value: @custom_action[:url].html_safe }
            %input{ id: "directory_custom_action_title",
              type: "hidden",
              value: @custom_action[:title].html_safe }
            %input{ id: "directory_custom_action_message",
              type: "hidden",
              value: @custom_action[:message].html_safe }
            %input{ id: "directory_custom_action_disabled",
              type: "hidden",
              value: @custom_action[:disabled].html_safe }

        .col-lg-3

      .panel.panel-default
        #directory_search_engine


#affix.hidden-print
  %small.help-block= t('directory.notices.use_ctrl_plus_click')
  #tag_cloud.top20
    %h4= t('directory.views.top20_private_tags')
    %ol.private_tags
      - PrivateTag.by_usage.limit(20).each_with_index do |tag, index|
        %li
          = link_to tag.name, "#", 'data-id' => tag.id, class: "o#{index}", style: "color: #{tag.color}"

    %h4= t('directory.views.top20_public_tags')
    %ol.public_tags
      - PublicTag.by_usage.limit(20).each_with_index do |tag, index|
        %li
          = link_to tag.name, "#", 'data-id' => tag.id, class: "o#{index}", style: "color: #{tag.color}"
