#secondary_navbar.navbar.navbar-default.navbar-static-top

  .navbar-header
    .visible-xs
      .navbar-brand
        #tab_name

    // extra-small resolutions
    %button{:class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#secondary_navigation'}
      .icon-bar
      .icon-bar
      .icon-bar

  .container
    #secondary_navigation.collapse.navbar-collapse
      %ul#sub_nav.nav.navbar-nav
        - if can? :manage, Language
          %li
            %a{:href => '#properties_tab'}
              = I18n.t('settings.views.attributes')

        - if can? :manage, InvoiceTemplate
          %li
            %a{:href => '#templates_tab'}
              = I18n.t('settings.views.templates')

        - if can? :manage, SearchAttribute
          %li
            %a{:href => '#searchengine_tab'}
              = I18n.t('settings.views.search_engine')

        - if can? :manage, Role
          %li
            %a{:href => '#privileges_tab'}
              = I18n.t('settings.views.privileges')

        - if can? :manage, Affair
          %li
            %a{:href => '#affairs_tab'}
              = I18n.t('settings.views.affairs')

        - if can? :manage, ApplicationSetting
          %li
            %a{:href => '#advanced_tab'}
              = I18n.t('settings.views.advanced')

.container
  .row
    .col-lg-3
    .col-lg-6
      -# TODO put the right object below
      -#- error_messages_for(@settings)
      - flash_messages
    .col-lg-3

  .tab-content
    #properties_tab.tab-pane.fade
      .row
        .col-md-6
          - if can? :update, Location
            #settings_locations.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.locations')

        .col-md-6
          - if can? :update, Job
            #settings_jobs.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.jobs')

      .row
        .col-md-6
          - if can? :update, Language
            #settings_languages.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.languages')

        .col-md-6

    #templates_tab.tab-pane.fade
      .row
        .col-md-6
          - if can? :update, InvoiceTemplate
            #settings_invoice_templates.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.invoice_templates')

        .col-md-6
          - if can? :update, GenericTemplate
            #settings_generic_templates.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.generic_templates')


    #searchengine_tab.tab-pane.fade
      .row
        .col-md-6
          - if can? :update, SearchAttribute
            #settings_search_attributes.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.search_attributes')
        .col-md-6
          - if can? :update, LdapAttribute
            #settings_ldap_attributes.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.ldap_attributes')

    #privileges_tab.tab-pane.fade
      .row
        .col-md-6
          - if can? :update, Role
            #settings_roles.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.roles')
        .col-md-6
          - if can? :update, Role
            #settings_role_permissions.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('role.views.permissions')

    #affairs_tab.tab-pane.fade
      .row
        .col-md-6
          - if can? :manage, TaskType
            #settings_task_types.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.task_types')

          - if can? :manage, TaskRate
            #settings_task_rates.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.task_rates')

        .col-md-6
          - if can? :manage, Product
            #settings_products.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.products')

          - if can? :manage, ProductProgram
            #settings_product_programs.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.product_programs')

    #advanced_tab.tab-pane.fade
      .row
        .col-lg-6
          - if can? :update, ApplicationSetting
            #settings_application_settings.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.application_settings')
        .col-lg-6
