#secondary_navbar.navbar.navbar-default.navbar-static-top

  .navbar-header
    .visible-xs
      .navbar-brand
        #tab_name

    // extra-small resolutions
    %button{:class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#secondary_navigation'}
      .icon-bar
      .icon-bar
      .icon-bar

  .container
    #secondary_navigation.collapse.navbar-collapse
      %ul#sub_nav.nav.navbar-nav
        - if can? :update, Language
          %li
            %a{:href => '#properties'}
              = I18n.t('settings.views.attributes')

        - if can? :update, InvoiceTemplate
          %li
            %a{:href => '#templates'}
              = I18n.t('settings.views.templates')

        - if can? :update, SearchAttribute
          %li
            %a{:href => '#searchengine'}
              = I18n.t('settings.views.search_engine')

        - if can? :update, Role
          %li
            %a{:href => '#privileges'}
              = I18n.t('settings.views.privileges')

        - if can? :update, ApplicationSetting
          %li
            %a{:href => '#advanced'}
              = I18n.t('settings.views.advanced')

.container
  .row
    .col-lg-3
    .col-lg-6
      -# TODO put the right object below
      -#- error_messages_for(@settings)
    .col-lg-3

  .tab-content
    #properties.tab-pane.fade
      .row
        .col-lg-6.col-md-6
          - if can? :update, Location
            #settings_locations.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.locations')

        .col-lg-6.col-md-6
          - if can? :update, Job
            #settings_jobs.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.jobs')

      .row
        .col-lg-6.col-md-6
          - if can? :update, Language
            #settings_languages.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.languages')

        .col-lg-6.col-md-6

    #templates.tab-pane.fade
      .row
        .col-lg-6.col-md-6
          - if can? :update, InvoiceTemplate
            #settings_invoice_templates.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.invoice_templates')

        .col-lg-6.col-md-6
          - if can? :create, Salaries::SalaryTemplate
            #settings_salary_templates.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('salaries.views.salary_templates')


    #searchengine.tab-pane.fade
      .row
        .col-lg-6.col-md-6
          - if can? :update, SearchAttribute
            #settings_search_attributes.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.search_attributes')
        .col-lg-6.col-md-6
          - if can? :update, LdapAttribute
            #settings_ldap_attributes.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.ldap_attributes')

    #privileges.tab-pane.fade
      .row
        .col-lg-6.col-md-6
          - if can? :update, Role
            #settings_roles.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.roles')
        .col-lg-6.col-md-6
          - if can? :update, Role
            #settings_role_permissions.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('role.views.permissions')

    #advanced.tab-pane.fade
      .row
        .col-lg-6
          - if can? :update, ApplicationSetting
            #settings_application_settings.panel.panel-default
              .panel-heading
                .panel-title
                  = I18n.t('settings.views.application_settings')
        .col-lg-6
