!!! Strict
%html
%head
  %title
    = "CIRCL: " + I18n.t("common.requires_browser_update")
  %style{ type: "text/css" }
    :sass
      body
        font-family: "Open Sans", Arial
        font-size: 14px
        text-align: center

      img
        border: none

      .browsers_compatibility
        table
          width: 512px
          margin: 50px auto
%body
  .browsers_compatibility
    %h1= I18n.t("common.requires_browser_update")
    = I18n.t("common.browser.a_modern_browser_is_required")
    %h2= I18n.t("common.browser.currently_supported_browser_are") + ":"

    // = I18n.t("common.browser.multiplateform_browsers")

    %table
      %tr
        %td
          = link_to image_tag('browsers/chrome.png'), "http://www.google.com/chrome", target: '_blank', title: 'Chrome'
        %td
          = link_to image_tag('browsers/firefox.png'), "http://www.mozilla.org/firefox", target: '_blank', title: 'Firefox'

      %tr
        %td
          = link_to image_tag('browsers/opera.png'), "http://www.opera.com", target: '_blank', title: 'Opera'
        %td
          = link_to image_tag('browsers/konqueror.png'), "http://www.konqueror.org/", target: '_blank', title: 'Konqueror'

    // = I18n.t("common.browser.mobile_browsers")

