
%nav.navbar.navbar-default.navbar-static-top.navbar-inverse{:role => "navigation"}
  .row
    .navbar-header.col-md-1
      %span{:class => 'navbar-brand', :style => 'padding: 0 0 0 15px'}
        = image_tag 'logo_mini_white.png'

    .navbar-brand.col-md-11
      = I18n.t("template.views.actions.edit_template") + ": "
      %i= @template.title

.container
  = form_for @template,
    :as => 'template',
    :url => settings_template_path(@template) do |f|
    = f.hidden_field :id
    .row
      .col-md-3
        %br
      .col-md-6
        %br
        - flash_messages
        - error_messages_for(@template)
      .col-md-3
        %br

    .row
      .col-lg-9
        %label
          = I18n.t("template.views.header")
        %small.help-block= I18n.t("template.help.remove_content_if_you_dont_want_header")
        = f.text_area :header, :rows => 5, :id => "header", :class => 'wysiwyg'
        %br
      .col-lg-3
        %label= I18n.t("template.views.placeholders.placeholders")
        .wk-placeholders
          %dl
            - Rails.configuration.settings["wk_placeholders"].each do |p|
              %dt= "#" + p.upcase
              %dd= I18n.t('template.views.placeholders.' + p)

    .row
      .col-lg-9
        %label{:class => 'required'}
          = I18n.t("template.views.body")
        = f.text_area :html, :rows => 25, :id => "body", :class => 'wysiwyg'
        %br
      .col-lg-3
        %label= I18n.t('template.views.placeholders.placeholders')
        .pdf-placeholders
          %dl
            - @template.placeholders["simples"].each do |p,v|
              %dt= "#" + p
              %dd= I18n.t('template.views.placeholders.' + p.downcase)
          %dl
            - @template.placeholders["iterators"].each do |p,v|
              %dt= "#" + p + "{}"
              %dd= I18n.t('template.views.placeholders.' + p.downcase)

    .row
      .col-lg-9
        %label
          = I18n.t("template.views.footer")
        %small.help-block= I18n.t("template.help.remove_content_if_you_dont_want_footer")
        = f.text_area :footer, :rows => 5, :id => "footer", :class => 'wysiwyg'
        %br
      .col-lg-3
        %label= I18n.t("template.views.placeholders.placeholders")
        .wk-placeholders
          %dl
            - Rails.configuration.settings["wk_placeholders"].each do |p|
              %dt= "#" + p.upcase
              %dd= I18n.t('template.views.placeholders.' + p)
