%h1
  = I18n.t("devise.mail.hello")
  = @resource.name
  = '!'

%p= I18n.t("devise.mail.someone_has_requested_a_link_to_change_your_password")
%p= link_to I18n.t("devise.mail.change_my_password"), edit_person_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= I18n.t("devise.mail.if_you_didnt_request_this")
%p= I18n.t("devise.mail.your_password_wont_change_until_you_access_the_link_above_and_create_a_new_one") 
