//    = I18n.t("invoice_template.views.placeholders.display_placeholders")

//    %div{:class => 'float_right', :style => 'width: 720px; display: none;', :id => 'invoice_template_placeholders_list'}
//      %label= I18n.t('invoice_template.views.placeholders.placeholders')
//      %dl.placeholders
//        - for p,v in @invoice_template.placeholders.simples
//          %dt= "#" + p
//          %dd= I18n.t('invoice_template.views.placeholders.' + p.toLowerCase())

//      %dl.placeholders
//        - for p,v in @invoice_template.placeholders.iterators
//          %dt= "#" + p + "{}"
//          %dd= I18n.t('invoice_template.views.placeholders.' + p.toLowerCase())

// small header
%nav.navbar.navbar-default.navbar-static-top.navbar-inverse{:role => "navigation"}
  .row
    .navbar-header.col-lg-1
      %span{:class => 'navbar-brand', :style => 'padding: 0 0 0 15px'}
        = image_tag 'logo_mini_white.png'

    .navbar-brand.col-lg-2
      = I18n.t("invoice_template.views.actions.edit_template") + ": "
      %i= @invoice_template.title

.container
  .row
    .col-lg-12
      %br
      - flash_messages
      - error_messages_for(@invoice_template)

  .row
    .col-lg-12
      // Override settings_invoice_template default params scope with invoice_template
      = form_for @invoice_template,
        :as => 'invoice_template',
        :url => settings_invoice_template_path(@invoice_template) do |f|
        = f.hidden_field :id

        = f.text_area :html, :rows => 25, :id => "wysiwyg", :class => 'wysiwyg'

      %br