
%nav.navbar.navbar-default.navbar-static-top.navbar-inverse{role: "navigation"}
  .row
    .navbar-header.col-md-1
      %span{class: 'navbar-brand', style: 'padding: 0 0 0 15px'}
        = image_tag 'logo_mini_white.png'

    .navbar-brand.col-md-11
      = I18n.t("invoice_template.views.actions.edit_template") + ": "
      %i= @invoice_template.title

.container
  = form_for @invoice_template,
    as: 'invoice_template',
    url: settings_invoice_template_path(@invoice_template) do |f|
    = f.hidden_field :id
    = f.hidden_field :with_bvr
    .row
      .col-md-3
        %br
      .col-md-6
        %br
        - flash_messages
        - error_messages_for(@invoice_template)
      .col-md-3
        %br

    .row
      .col-lg-9
        %label{class: 'required'}
          = I18n.t("invoice_template.views.body")
        = f.text_area :html, rows: 25, id: "body", class: 'wysiwyg'
        %br
      .col-lg-3
        %label= I18n.t('invoice_template.views.placeholders.placeholders')
        .pdf-placeholders
          %dl
            - @invoice_template.placeholders["simples"].each do |p,v|
              %dt= "#" + p
              %dd= I18n.t('invoice_template.views.placeholders.' + p.downcase)
          %dl
            - @invoice_template.placeholders["iterators"].each do |p,v|
              %dt= "#" + p + "{}"
              %dd= I18n.t('invoice_template.views.placeholders.' + p.downcase)
