#secondary_navbar.navbar.navbar-default.navbar-static-top
  .container
    #secondary_navigation
      // pull-right = XS
      .pull-right
        .navbar-right.btn-group
          %a{ :href => 'https://www.circl.ch/#support',
              :target => 'circl_support',
              :class => 'btn btn-default navbar-btn' }
            .icon-question
            .hidden-inline-xs
              = I18n.t('person.dashboard.tech_support')

          %a{ :href => 'https://doc.circl.ch',
              :target => 'circl_doc',
              :class => 'btn btn-primary navbar-btn' }
            .icon-book
            .hidden-inline-xs
              = I18n.t('person.dashboard.help')


.container
  .row
    .col-lg-3
    .col-lg-6.col-md-6
      - if flash[:error] or flash[:alert] or flash[:notice]
        - flash_messages

      = hidden_field :person, :id
      - # Used to trigger Dashboard Spine controller instead of PersonEdit
      %input{:type => 'hidden', :id => 'dashboard', :value => true}

    .col-lg-3

  .row
    .col-lg-12
      %h1= I18n.t('person.dashboard.welcome');

  .row
    .col-lg-6
      - if can? :read, @person => Person # messages
        #dashboard_messages.panel.panel-primary
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.messages')

      - if can? :read, @person => Comment
        #dashboard_comments.panel.panel-default
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.last_comments')

      - if can? :read, @person => Invoice
        #dashboard_open_invoices.panel.panel-default
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.open_invoices')

      - if can? :read, @person => Person
        #dashboard_last_people_added.panel.panel-default
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.last_people_added')

      - if can? :statistics, @person
        #dashboard_statistics.panel.panel-default
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.statistics')

    .col-lg-6
      - if can? :manage, @person => ::Task
        #dashboard_timesheet.panel.panel-default
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.timesheet')

      - if can? :read, @person => Activity
        #dashboard_activity.panel.panel-default
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.your_activity')


      - if can? :read, @person => Affair
        #dashboard_current_affairs.panel.panel-default
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.current_affairs')

      - if can? :read, @person => Salaries::Salary
        #dashboard_open_salaries.panel.panel-default
          .panel-heading
            .panel-title
              = I18n.t('person.dashboard.panels.open_salaries')
