#shortcuts_content.modal
  .modal-dialog.modal-md
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal'}
          %span{'aria-hidden' => true}
            &times;
          .sr-only= I18n.t('common.close')
        %h4.modal-title= I18n.t("person.dashboard.panels.shortcuts")
      .modal-body

%header

  - if person_signed_in?
    %nav.navbar.navbar-default.navbar-static-top.navbar-inverse{role: "navigation"}
      .navbar-header
        // extra-small resolutions
        %button{class: 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#main_navigation'}
          .icon-bar
          .icon-bar
          .icon-bar

        %span{class: 'navbar-brand', style: 'padding: 0 0 0 15px'}
          = image_tag 'logo_mini_white.png'

        .visible-xs
          .navbar-brand
            = I18n.t('common.' + controller.controller_name)

      %ul.nav.navbar-nav.navbar-right.hidden-xs
        = render partial: 'layouts/login'

        - if can? :index, Directory
          = form_tag directory_path,
              method: 'get',
              id: 'quick_search',
              class: 'navbar-form navbar-right hidden-sm hidden-xs',
              role: 'search' do
            .form-group
              - # style vs chrome bug => https://github.com/twbs/bootstrap/issues/9950
              .input-group{style: 'width: 250px;'}
                .input-group-btn
                  %button{type: 'button', class: 'btn btn-default', id: 'shortcuts'}
                    .icon-bolt
                %input{ type: 'search',
                        class: 'form-control',
                        name: 'quick_search_string',
                        id: 'quick_search_string',
                        placeholder: I18n.t('directory.views.quick_search_placeholder') }
                .input-group-btn
                  %button{type: 'submit', class: 'btn btn-default'}
                    .icon-search

      .container
        #main_navigation.collapse.navbar-collapse.container
          %ul.nav.navbar-nav
            .visible-xs.login-xs
              = render partial: 'layouts/login'

            - if can? :index, Directory
              %li{class: ('active' if request.path == directory_path)}
                = link_to I18n.t('common.directory'), directory_path

            - if can? :index, Admin
              %li{class: ('active' if request.path == admin_path)}
                = link_to I18n.t('common.administration'), admin_path

            - if can? :index, Salaries
              %li{class: ('active' if request.path == salaries_path)}
                = link_to I18n.t('common.salaries'), salaries_path

            - if can? :index, Setting
              %li{class: ('active' if request.path == settings_path)}
                = link_to I18n.t('common.settings'), settings_path


