%header
  .tools
    - if person_signed_in?
      - if can? :read, BackgroundTask
        #background_tasks_counter.background_tasks

    .lang
      != select_languages

    - if person_signed_in?
      %small
        = link_to(I18n.t('person.views.logout'), destroy_person_session_path, :method => 'delete', :class => 'button')

  .logo
    = image_tag 'logo_mini_white.png'
    .title CIRCL

  - if person_signed_in?
    %nav
      %ul
        -# - if can? :dashboard, current_person
        -#   %li
        -#     = link_to I18n.t("common.dashboard"),
        -#               dashboard_person_path(current_person),
        -#               :class => ('on' if request.path == dashboard_person_path(current_person))

        - person = @person ? @person : current_person
        - if can? :read, person
          %li
            = link_to person.name,
                      person_path(person),
                      :class => "#{('on ' if request.path == person_path(person))}person"

        - if can? :index, Directory
          %li
            = link_to I18n.t('common.directory'),
                      directory_path,
                      :class => ('on' if request.path == directory_path)

        - if can? :index, Admin
          %li
            = link_to I18n.t('common.administration'),
                      admin_path,
                      :class => ('on' if request.path == admin_path)

        - if can? :index, Salaries
          %li
            = link_to I18n.t('common.salaries'),
                      salaries_path,
                      :class => ('on' if request.path == salaries_path)

        - if can? :index, Setting
          %li
            = link_to I18n.t('common.settings'),
                      settings_path,
                      :class => ('on' if request.path == settings_path)

        - if can? :index, Directory
          %li
            #quick_search
              = form_tag directory_path, :method => 'get' do
                %input{ :type => 'search',
                        :name => 'quick_search_string',
                        :id => 'quick_search_string',
                        :placeholder => I18n.t('directory.views.quick_search_placeholder') }
