%header

  - if person_signed_in?
    %nav.navbar.navbar-default.navbar-static-top.navbar-inverse{:role => "navigation"}
      .row
        .navbar-header.col-lg-1.col-md-1.col-sm-1
          // extra-small resolutions
          %button{:class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#main_navigation'}
            .icon-bar
            .icon-bar
            .icon-bar

          %span{:class => 'navbar-brand', :style => 'padding: 0 0 0 15px'}
            = image_tag 'logo_mini_white.png'

          .visible-xs
            .navbar-brand
              = I18n.t('common.' + controller.controller_name)

        .col-lg-6.col-md-6.col-sm-8
          #main_navigation.collapse.navbar-collapse.navbar-ex1-collapse
            %ul.nav.navbar-nav
              .visible-xs.login-xs
                = render :partial => 'layouts/login'

              - if can? :index, Directory
                %li{:class => ('active' if request.path == directory_path)}
                  = link_to I18n.t('common.directory'),
                            directory_path

              - if can? :index, Admin
                %li{:class => ('active' if request.path == admin_path)}
                  = link_to I18n.t('common.administration'),
                            admin_path

              - if can? :index, Salaries
                %li{:class => ('active' if request.path == salaries_path)}
                  = link_to I18n.t('common.salaries'),
                            salaries_path

              - if can? :index, Setting
                %li{:class => ('active' if request.path == settings_path)}
                  = link_to I18n.t('common.settings'),
                            settings_path

        .col-lg-3.col-md-3.hidden-sm.hidden-xs
          - if can? :index, Directory
            = form_tag directory_path,
                :method => 'get',
                :class => 'navbar-form navbar-left',
                :role => 'search' do
              .form-group
                .input-group
                  %input{ :type => 'search',
                          :class => 'form-control',
                          :name => 'quick_search_string',
                          :id => 'quick_search_string',
                          :placeholder => I18n.t('directory.views.quick_search_placeholder') }
                  .input-group-btn
                    %button{:type => 'submit', :class => 'btn btn-default'}
                      .icon-search

        .col-lg-2.col-md-2.col-sm-3.hidden-xs
          %ul.nav.navbar-nav
            = render :partial => 'layouts/login'

