!!! 5
%html{:lang => I18n.locale}
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %meta{:name => 'session-remaining-time', :content => Devise.timeout_in + 5.seconds}

    // SOURCE http://getbootstrap.com/css/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"}

    %title= "CIRCL"
    = favicon_link_tag
    = stylesheet_link_tag 'main'
    = javascript_include_tag "i18n.js" # part of i18n-js gem
    = javascript_include_tag "i18n/#{I18n.locale}.js"
    = javascript_include_tag "i18n/datatables/#{I18n.locale}.js"
    = javascript_include_tag 'application'

    - # FIXME tinymce is in a gem, cannot be loaded through application
    = javascript_include_tag 'tinymce-jquery'

    - # optional controller's javascript file (not common)
    - if File.exists? [ Rails.root,
                        'app/assets/javascripts/controllers',
                        params[:controller] + ".js.coffee" ].join("/")
      = javascript_include_tag 'controllers/' + params[:controller]

    = csrf_meta_tag

    :javascript
      Spine.Model.host = '#{request.protocol}#{request.host_with_port}';

  %body
    = render :partial => 'layouts/header'

    .bs-header
      - flash_messages

    .container
      ~ yield

    = render :partial => 'layouts/footer'

    #dialogs
